html
    head 
        - var sala = numSala;
        - var username = username;
    style(type="text/css").
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

        :root {
            --height-nav: 70px;
        }

        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: 'Poppins', sans-serif;
            background-image: linear-gradient(to right, #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);
        }

        .container {
            width: 90%;
            max-width: 1200px;
            margin: 0 auto;
            overflow: hidden;
        }

        .nav {
            background: #000000;
            height: var(--height-nav);
            color: #fff;
        }

        .nav__container {
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .nav__link {
            color: #fafafa;
            text-decoration: none;
            margin-left: 1em;
        }



        .card {
            display: flex;
            width: 90%;
            margin: 0 auto;
            height: 90vh;
            justify-content: center;
            padding: 80px 0;
        }

        .card__item {
            background: white;
            width: 80%;
            min-height: 600px;
            overflow: hidden;
            padding: 2em;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            border-radius: 20px;
            box-shadow: 10px 10px 32px -16px rgba(0, 0, 0, .5);
        }

        .card__title {
            margin: 40px;
        }

        .card__form {
            margin: 60px;
            align-items: flex-start;
        }

        .card__paragraph {
            padding: .5em 0;
        }

        .card__texts {
            width:80%;
            height: 100%;
        }

        .cta {
            display: inline-block;
            background: #000;
            padding: 15px 30px;
            margin-top: auto;
            text-decoration: none;
            color: #fff;
            border-radius: 6px;
        }

        .cta__2 {
            display: inline-block;
            background: #fff;
            padding: 15px 22px;
            margin-top: auto;
            margin-right: 15px;
            text-decoration: none;
            border-radius: 6px;
            color: #000;
        }

        .msg {
            width: 100%;
            height: 90%;
        }

        .nom {
            font-weight: bold;
            margin-right: 5px;
        }

        .temps {
            font-weight: 100;
            margin-left: 9px;
        }
        
        .container__missatge {
            display: flex;
        }

        @media screen and (max-width:900px) {
            :root {
                --height-nav: 100px;
            }

            .nav__container {
                flex-direction: column;
                justify-content: space-evenly;
            }
        }
    body
        header(class="hero")
            nav(class="nav")
                section(class="nav__container container")
                    div(class="nav__links")
                        a(href="/chat/list" class="nav__link") Chat
                        a(href="#" class="nav__link") Historial
                        a(href="/" class="nav__link") Log Out
        section(class="card")
            div(class="card__item")
                div(class="card__texts")
                    h1(class="card__title") Sala #{sala}
                    div(class="msg" id="messages")
                form(action="" class="card__form" id="form")
                    input(id="msg" type="text")
                    button(class="cta") Enviar
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script.

        /* Activem el socketb per a que escolti a la sala en la que està l'usuari */
        var socket = io();
        socket.on("sala" + `#{sala}`, (msg) => {
            var newMsg = document.createElement("p");

            newMsg.innerText = msg;

            document.getElementById("messages").appendChild(newMsg);
        });
        
        /* Crrem el missatge que ha enviat l'usuari */
        var form = document.getElementById("form");
        var input = document.getElementById("msg");
        form.addEventListener("submit", function (event) {
            event.preventDefault();
            if (input.value) {
                const data = new Date();
                const hora = data.getHours();
                const minuts = data.getMinutes();
                const segons = data.getSeconds();
                let missatge = `#{username.username}` + ":\t" + input.value + "\t" + hora + ":" + minuts + ":" + segons;
                socket.emit("sala" + `#{sala}`, missatge);
                input.value = '';
            }
        });


    
